/**
 * ---------------------------------------------
 * class standard ui-element
 * ---------------------------------------------
 */
 button {
	border: 1px solid #eee;
	background: #ddd;
	border-radius: 3px;
}
.el-form-item--medium .el-form-item__content, .el-form-item--medium .el-form-item__label {
	line-height: 1.2 !important;
	vertical-align: middle;
}

.el-form-item__label {
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
}

.el-card {
	// border: none !important;
	margin-bottom: 12px;
	// box-shadow: 0px 2px 2px #0000001F;
	.table-handler-flex {
		.el-input__inner {
			background: $colorInfo !important;
		}
		.input-search {
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #000000;
			}
			.el-input__inner {
				background: #FFFFFF !important;
				border: 1px solid $colorInfo;
			}
			.el-input__icon {
				color: #000;
			}
		}
	}
}

.el-card__header {
	font-weight: bold;
}

.el-card__header {
	padding: 18px 20px;
}

.el-dialog__body {
	color: $colorBody;
	.el-upload {
		display: block;
	}
}

.dialog-warning {
	width: 280px;
	.el-dialog__header {
		font-weight: bold;
		font-size: 20px;
	}
}

.el-dialog__footer {
	position: relative;
	padding: 12px 12px 12px 12px !important;
	display: block;
	border-top: 1px solid #eee;
	text-align: left;
	.el-button+.el-button {
		margin-left: 4px !important;
	}
}

// .el-button+.el-button {
// 	margin-left: 0 !important;
// }

.el-pagination {
	margin-top: 20px;
	overflow: auto;
}

.skin-dark .main-header .navbar {
	background: rgb(22,133,199);
	background: linear-gradient(90deg, rgba(22,133,199,1) 0%, rgba(27,180,230,1) 80%);
	box-shadow: 0px 2px 2px #0000001F;
}

.el-dialog {
	// border-radius: 20px;
	border-radius: 10px;
	.el-dialog__header {
		font-weight: bold;
	}
	&.is-fullscreen {
		border-radius: 0;
		width: 100% !important;
	}
}

.el-card__header {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
		font-weight: bold;
		font-weight: 700;
	}
}

// fix in-cell contenteditable issue when it activated
// .el-table__body-wrapper {
// 	overflow: auto !important;
// }

.main-header .navbar .nav > li .row p {
	margin: 8px 0 0px 0 !important;
	color: #0085CD !important;
}

.main-header .navbar .nav > li .row .el-select .el-input__inner {
	padding: 0 0 5px 0 !important;
	color: #222;
}

.el-select.select-header .el-input .el-select__caret {
	color: #000;
}

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
    width: 200px !important;
}

.el-date-editor .el-range-separator {
	width: 20px !important;
}

.el-range__close-icon {
	display: none !important;
}

.el-card__header {
	.el-range-editor--mini {
		position: relative;
		top: 1px;
	}
}

.el-checkbox__inner {
	border: 1px solid #959494;
}

// .el-table__header-wrapper {
// 	border-top: 1px solid #eee;
// }

.el-table__expand-icon {
	background-color: #ddd;
	color: #000;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	border-radius: 50%;
	.el-icon {
		position: static;
		margin-left: auto;
		margin-top: auto;
	}
}

/**
 * ---------------------------------------------
 * bootstrap override
 * ---------------------------------------------
 */
.nav-tabs > li > a {
	margin-right: 0 !important;
}

.panel {
	border: none !important;
	&.tab-list {
		border-radius: 0;
		border: none;
		box-shadow: none;
	}
}

.tab-list-secondary {
	margin-bottom: 12px;
	.el-button {
		font-weight: bold;
	}
}

/**
 * ---------------------------------------------
 * Global classes
 * ---------------------------------------------
 */
.sidebar-mini {
	.content.sales-list.no-subpage {
		padding: 90px 30px 30px 30px;
	}
	.content-wrapper-webview {
		.content {
			padding: 0 0 0 0;
		}
	}

	.content-accounting{
		padding: 74px 13px 30px 13px;
	}

	.content.accounting-page{
		padding: 90px 20px 30px 20px;
	}
}

.form-in-cell-wrapper {
	position: relative;
}

.form-in-cell {
	background: #fff;
	width: 222px;
	position: relative;
	z-index: 999;

  .el-button--mini {
  	padding: 2px 4px;
  	font-size: 14px;
  }

  .el-input__inner,
  .el-input {
  	width: 100%;
  	max-width: 154px
  }

  div {
		display: inline-block;
	}
}

.small-label,
.collapse-page-content .el-collapse-item__header {
	margin-bottom: 0;
	font-size: 11px;
	color: $oldGrey;
	font-style: italic;
	font-weight: normal;
}

.select-header {
	.el-input__inner {
		font-size: 14px !important;
	}
}

.nav-tabs-secondary {
	&.nav-tabs {
		box-shadow: none !important;
		border-bottom: 1px solid #f1f1f1;
	}
	li a {
		padding: 8px 12px !important;
		font-size: 13px;
		font-weight: normal;
		color: #999;
	}
}

.navbar-custom-menu {
	.navbar-nav {
		margin: 0 0;
	}
}

.main-header {
	.navbar {
		height: 60px;
	}
}

.card-buttons-medium {
	text-align: right;
}

// .pace {
// 	.pace-progress {
// 		height: 1px;
// 		background: $colorDanger;
// 	}
// 	.pace-activity {
// 		border: 1px solid transparent;
// 		border-top-color: $colorDanger;
// 		border-bottom-color: $colorDanger;
// 		top: 33px;
// 	}
// }

.no-product {
	text-align: center;
	font-size: 20px;
	color: $oldGrey;
	img {
		max-width: 360px;
		width: 100%;
		height: auto;
	}
}

.editable {
	border-bottom: 1px dashed #1685C7;
	&:hover {
		cursor: pointer;
	}
}

.box-customer-type {
	border-radius: 16px !important;
	.floating-editor-contenteditable {
		background: #fff;
		padding: 10px;
		border-radius: 10px;
		border: 1px soild #ccc;
		.el-input {
			position: relative;
			top: -10px;
			input {
				font-weight: bold;
				font-size: 14px;
			}
		}
		.buttons {
			text-align: right;
		}
	}
	.el-card__header {
		height: 60px;
	}
	.el-card__header .card-buttons {
		top: 4px;
    right: 10px;
	}
	.el-card__body {
		background: #5CB4FF;
		background-image: linear-gradient(#DDF2FA, #5CB4FF);
		font-size: 50px;
		color: #fff;
		line-height: 1;
		padding: 40px 0;
		i {
			position: relative;
			top: 3px;
		}
	}
}

.el-card__header h4 {
	margin-top: 0 !important;
	// margin-bottom: 0 !important;
}

.header-page-icon {
	padding-right: 8px;
	font-size: 0px;
	svg {
		position: relative;
		top: -4px;
	}
}

.summary {
	background: #f7f7f7;
	padding: 10px;
	border-left: 2px solid rgba(#000, 0.1)
}

.sidebar-mini .content.sales-list {
	padding: 180px 24px 40px 24px;
	// overflow: auto;
}

.slide-item-button {
	position: relative;
	top: 25px;
}

.slide-item-meta {
	position: relative;
	top: 20px;
}

.no-header {
	.el-dialog__header {
		display: none;
	}
}

.theme-item {
	padding: 10px;
	box-shadow: 0px 2px 7px -1px rgba(#000, 0.4);
	margin: 5px;
	height: 185px;
	margin-bottom: 20px;
}

.theme-meta {
	margin-top: 12px;
}

.theme-photo-wrapper {
	height: 135px;
	overflow: hidden;
	position: relative;
}

.single-theme-meta {
	padding: 20px;
	background: #F5F5F5;
	border-radius: 10px;
}

.tab-content {
	position: relative;
}

.full-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: #fff;
	padding: 20px;

}

.full-page--page-top-menu {
	margin-bottom: 20px;
	padding: 0 0 20px 0;
	border-bottom: 1px solid $colorGrey;
}

.oldgrey {
	color: $oldGrey
}

.line-height-1 {
	line-height: 1;
}

@for $i from 1 through 20 {
  $fontsize: 1px * $i;
  .size-#{$i} {
		font-size: $fontsize;
		&.el-button {
			font-size: $fontsize !important;
		}
  }
}

@for $i from 1 through 1800 {
  $width: 1px * $i;
  .width-#{$i} {
  	width: $width;
  }
}

@for $i from 20 through 100 {
  $size: 1px * $i;
  .img-#{$i} {
  	width: $size !important;
  	height: $size !important;
  }
}

@for $i from 20 through 100 {
  $size: percentage($i);
  .tabcol-#{$i} {
  	width: $size;
  	height: $size;
  }
}

.cursor-pointer {
	cursor: pointer;
}

.input-desc {
	line-height: 1.2;
	margin-top: 8px;
	display: block;
}

.clickable {
	position: relative;
	display: inline-block;
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		content: '';
		display: block;
		border-bottom: 1px dashed #aaa;
	}
}

.icon-bullet {
	display: inline-block;
	width: 20px;
}

.link-social-added {
	padding: 4px 0;
	border-bottom: 1px solid #eee;
}

.btn-plain {
	background-color: transparent !important;
	&.el-button--primary {
		color: $colorPrimary !important;
		border-color: $colorPrimary !important;
	}
	&.el-button--danger {
		color: $colorDanger !important;
		border-color: $colorDanger !important;
	}
	&.el-button--info {
		color: $colorInfo !important;
		border-color: $colorInfo !important;
	}
}

.el-card__header {
	position: relative;
	h4 {
		display: block;
		font-weight: bold;
		font-size: 16px;
	}

	p {
		font-weight: normal;
		color: #aaa;
		font-size: 13px;
		margin-top: 4px;
		margin-bottom: 0;
	}

	.card-buttons {
		position: absolute;
		top: 10px;
		right: 15px;
	}
}

.v-money {
	width: 100%;
}

.reports-control {
	.el-button,
	.el-select {
		margin-bottom: 2px;
	}
	.el-select {
		width: 120px;
	}
}

.form-subtitle {
	.el-form-item__label,
	.el-collapse-item__header {
		color: #6EBE46 !important;
		font-size: 14px !important;
		font-weight: bold !important;
	}
}

.form-sidebyside {
	.el-form-item__content {
		p {
			text-align: right;
		}
	}

	.el-form-item__label {
		padding: 0 0 0 0;
		&:before {
			position: absolute;
			right: 0;
		}
	}

	.is-required {
		.el-form-item__label {
			&:before {
				display: none;
			}   
			&:after {
				content: '*';
				margin-left: 3px;
				color: red;
			}
		}
	}
}

/**
 * Page Article
 */
.page-content {
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
	}
}

.websitepage-card {
	position: relative;
}

.websitepage-card-header {
	padding-left: 40px;
}

.back-wrapper {
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
	.el-button {
		height: 100%;
		border-radius: 0;
		background: #DDF2FA;
		color: #5CB4FF;
		border: none;
	}
}

.ql-editor {
	max-height: 300px;
	min-height: 100px;
}

.el-card,
.el-card.is-always-shadow,
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover {
	box-shadow: $boxShadow1 !important;
	border: 1px solid #EEEEEE;
}

.box-card {
	// box-shadow: none !important;
	// box-shadow: $boxShadow1;
	margin-bottom: 24px;
	// border: none !important;
	// border: 1px solid #EEEEEE;
	&--p-null {
		.el-card__body {
			padding: 0 0 0 0 !important; 
			.el-pagination {
				margin-top: 0;
				.el-input__inner {
					box-shadow: none;
					border-color: transparent;
				}
			}
		}
	}
	&--sales {
		.el-card__header {
			background: #FFFFFF;
		}
	}
}
.card-sub-body-title {
	margin-top: 0px;
	font-size: 16px;
	font-weight: bold;
}

.desc {
	margin-bottom: 20px;
	font-size: 14px;
	color: #ccc;
}

.list-card {
	li {
		margin-bottom: 10px;
	}
}

.form-onerow-line {
	.el-row {
		margin-bottom: 5px;
	}
}

.card-sub-body {
	border-bottom: 1px solid #eee;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.media {
	border: 1px solid #ccc;
	padding: 2px;
}

.media-body-relative {
	position: relative;
	.slides-button {
		position: absolute;
		top: 2px;
		right: 2px;
	}
}

.form-myswebsite {
	.el-form-item {
		margin-bottom: 5px;
	}
}

/**
 * Shippings
 */
.with-left-poster {
	padding-left: 300px;
	position: relative;
	min-height: 300px;
	
	.left-poster {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		height: 100%;
		padding: 32px;
		&.free {
			color: #575757;
			background: rgb(225,226,225);
			background: linear-gradient(180deg, rgba(225,226,225,1) 0%, rgba(245,245,245,1) 50%);
		}
		&.domestic {
			color: #fff;
			background: rgba(#07B3AB, 1);
			background: linear-gradient(180deg, rgba(#07B3AB,1) 0%, rgba(#20E66D,1) 50%);
		}
		&.international {
			color: #fff;
			background: rgba(#FF931E, 1);
			background: linear-gradient(180deg, rgba(#FF931E,1) 0%, rgba(#C60055,1) 50%);
		}
		&.sales-income {
      color: #fff;
      background: rgba(#5CB4FF, 1);
      background: linear-gradient(180deg, rgba(#5CB4FF, 1) 0%, rgba(#0085CD, 1) 50%);
    }
	}
}

.floating-buttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 99;
}

/**
 * Biodata
 */
.biodata {
	li {
		margin-bottom: 12px;
		.list-label {
			font-weight: bold;
			display: inline-block;
			width: 100px;
		}
	}
}

.photo-placeholder {
	position: relative;
	overflow: hidden;
	height: 400px;
	background-color: $colorPrimary;
	.border-white {
		border: 5px solid #FFFFFF;
	}
}

.avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.avatar-uploader .el-upload:hover {
	border-color: #409EFF;
}
.avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: auto;
	height: height;
	text-align: center;
}
.avatar {
	width: auto;
	height: auto;
	display: block;
}

/**
 * Like table row
 */
.editable-field {
	background: #F5F5F5;
	border-bottom: 1px solid #AFB0AF;
	overflow: hidden;
	.el-input,
	.el-input__inner {
		background: transparent !important;
		border: none;
		font-weight: bold;
		line-height: 1;
		height: auto;
		color: #000000;
	}
}

.editable-field-header {
	padding: 8px 15px 0;
	display: block;		
}

.like-tr {
	padding-bottom: 8px;
	padding-top: 8px;
	border-top: 1px solid #ddd;
}

.like-tr-wrapper {
	overflow: auto;
}

.like-tr-item {
	padding-right: 8px;
	padding-left: 8px;
	float: left;
	.btn-text {
		position: relative;
		top: 12px;
	}
}

.no-padding {
	.el-card__body {
		padding: 0 0 0 0;
	}
}

.btn-delete {
	font-size: 26px !important;
	&.el-button--text {
		color: #575757 !important;
	}
}

.with-back-button {
	 position: relative;
	 padding-left: 60px;
	 .el-button.back-button {
		 position: absolute;
		 border-radius: 0;
		 left: 0;
		 top: 0;
		 height: 100%;
		 width: 60px;
		 background: #f1f1f1;
		 border: none;
		 font-size: 20px;
	 }
	 &--white-bg {
		.el-button.back-button {
		 	background: #FFFFFF !important;
			box-shadow: none;
		}
	 }
 }

.box {
	box-shadow: $boxShadow1;
	border: none !important;
	margin-bottom: 16px;
	border-radius: 4px;
	background: #fff;
	.box-header {
		padding: 8px 20px;
		border-bottom: 1px solid $colorGrey;
		display: flex;
		align-items: center;
		&.create-product-header {
			padding: 0;
			.el-input__inner {
				box-shadow: none !important;
			}
		}
	}
	.box-body {
		padding: 20px;
	}
}

.el-form--label-top {
	.el-form-item__label {
		padding: 0 0 0 0 !important;
		line-height: 1 !important;
		display: block;
	}
}

.box-title {
	font-size: 18px !important;
	flex-grow: 1;
}

.box-banner-info {
	overflow: hidden;
	border: 1px solid #f5f5f5 !important;
	.box-body {
		background-image: -webkit-gradient(linear, left top, right top, from(#5CB4FF), to(#DDF2FA));
		padding: 8px;
		color: #000;
		i, svg {
			font-size: 36px;
			position: relative;
			top: 4px;
		}
		font-size: 36px;
	}

	.box-header {
		margin: 0 0 0 0;
		background: white;
		line-height: 1;
		.el-button--small {
			padding: 0 0 0 0;
		}
		.box-title {
			// margin-top: 0;
			line-height: 1;
			margin-bottom: 0;
			font-weight: bold;
		}
	}

	.el-dropdown {
		.el-button {
			padding: 0 0 0 0;
			color: #000 !important;
			font-size: 20px !important;
		}
	}
}

.search-sidebar {
	padding: 20px;
}

.reports-list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;

	li {
		position: relative;
	}

	li:last-child {
		span {
			border: none;
		}
	}

	.reports-list__item {
		line-height: 1.3;
		padding: 10px 15px;
		cursor: pointer;
		border-bottom: 1px solid #f7f7f7;
		color: #575757;
		font-size: 12px;
	}

	.active {
		background: #DDF2FA;
		span {
			color: #0085CD;
		}
	}
}

.dialog-without-header {
	.el-dialog__header {
		display: none;
	}
}

.without-padding {
	.el-dialog__body,
	.el-card__body {
		padding: 0 0 0 0;
	}
}

.el-card__header {
	position: relative;
	.btn-show-list-mobile {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.tab-list-secondary {
	.el-button {
		padding: 8px 12px;
		font-size: 14px;
		&.el-button--text {
			color: rgba(#575757, 0.8);
		}
		&.active {
			background: #DDF2FA;
		}
	}
}

.with-padding-left {
	padding-left: 100px !important;
}

.inventory-status {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		display: inline-block;
		margin-right: 3px;
	}
	&.canceled {
		background: #FFE4E4;
		color: #F44336;
	}
	&.posted {
		background: #EDF7E9;
		color: #6EBE46;
	}
	&.draft {
		background: rgba(#FF931E, 0.3);
		color: #FF931E;
	}
	&.partial {
		background: rgba(#0085cd, 0.3);
		color: #0085cd;
	}
}

.input-new-tag {
	display: inline-block;
	max-width: 120px;
}

.tag-samping-sampingan {
	margin-right: 3px;
	margin-bottom: 3px;
}

.detail-section {
	.detail-item {
		margin-bottom: 8px;
	}

	.detail-label {
		font-size: 14px;
		font-weight: bold;
	}
}

.report-page {
	.table-handler-flex {
		h4 {
			margin-bottom: 4px;
		}
	}
	.date-range-picker-wrapper {
		input {
			height: 28px;
			line-height: 28px;
			font-size: 12px;
		}
	}
}

.date-range-picker-wrapper {
	display: inline-block;
	// min-width: 220px;
	input {
		box-shadow: $boxShadow1;
		background: $colorInfo;
		display: block;
		width: 100%;
		border: none;
		padding: 0 13px;
		border-radius: 5px;
		color: $colorBody;
		font-weight: bold;
		height: 37px;
		line-height: 37px;
		font-size: 14px;
	}
}

.wrapper-tags {
	margin-top: 3px;
	.el-tag {
		margin-right: 3px;
		margin-bottom: 8px;
		display: inline-block !important;
	}
}

.save-bottom {
  .box-bodys {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    align-content: space-between;
    padding: 8px;
    p {
      margin-right: 8px;
      font-weight: bold;
    }

    .el-select {
      margin-right: 8px;
    }
  }
}

.save-bottom-full {
	position: sticky;
  bottom: 0;
  right: 0;
  z-index: 5;
	width: 100%;
  background: #fff;
  border-radius: 2px;
	border: solid 1px $colorInfo;
  box-shadow: $boxShadow1;
  .box-bodys {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    align-content: space-between;
    padding: 8px;
  }
}

.openorder-create {
	.el-form-item__content {
		line-height: 1.4;
	}

	.el-form-item {
		margin-bottom: 0;
	}

	.el-form {
		.row {
			margin-bottom: 20px;
		}
	}
}

.required {
	margin-right: 0 !important;
}

.form-sidebyside  {
	.el-form-item__label {
		display: block;
		float: none;
		line-height: 1.3em;
	}

	.el-form-item__content p {
		line-height: 1.3em;
		font-size: 10px;
		color: #aaa;
	}
}

.item-flex {
	display: flex;
	align-items: center;
	h5 {
		margin-top: 0;
		margin-bottom: 2px;
	}
}

.box-in-loop {
	margin-bottom: 16px;
	padding: 12px 10px;
	background: #fff;
	box-shadow: 0px 2px 2px #0000001F;
	border: 1px solid #eee;
	border-radius: 2px;
	height: auto;
	line-height: 1.4em !important;
	img {
		margin-right: 8px;
	}
}

.list-stores-container {
	max-height: 480px;
	height: calc(100% - 78px);
	overflow: auto;
}

.card-footer {
	padding-top: 20px;
	border-top: 1px solid #eee;
	margin-top: 20px;
}

.login-page {
  height: 100vh;
  background: #FAFAFA 0% 0% no-repeat padding-box;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0 0;
	position: relative;
	display: flex;
	padding: 15px;
	&--select-store {
		background: #fff;
		.login-banner {
			background: #fff;
		}
	}
  .el-form-item--small.el-form-item {
    margin-bottom: 20px;
  }
}

.login-banner {
  width: 50%;
	height: 100%;
	padding: 38px;
	background: transparent linear-gradient(180deg, #CEF2FF 0%, #E6F8FF 100%) 0% 0% no-repeat padding-box;
	position: relative;
	&--card {
		padding: 16px;
		box-shadow: 0px 2px 2px #0000001F;
		border: 1px solid #EEEEEE;
		border-radius: 16px;
		height: calc(100% - 48px);
		position: relative;
		display: flex;
		align-items: center;
		padding-bottom: 42px;
		overflow: visible;
		&--footer {
			position: absolute;
			bottom: 0;
			left: 0;
			background: #fff;
			padding: 8px;
			width: 100%;
		}
	}
}

.daftar-banner {
  width: 50%;
  height: 100%;
  position: relative;
	background: transparent linear-gradient(180deg, #F2FFEC 0%, #DFFFD2 100%) 0% 0% no-repeat padding-box;
	.banner-text {
		img {
			width: auto;
		}
	}
}

.login-form {
	background: #fff;
	overflow: auto;
  padding: 48px 48px 0;
  width: 50%;
  h1 {
    margin: 0 0 0 0;
  }

  .el-form {
    margin-bottom: 22px;
  }
}

.transition-start {
  .banner-img {
    opacity: 1;
    &:after {
      height: 100%;
    }
    img {
      top: 130px;
    }
	}
	
	.banner-text {
		img {
			bottom: 80px;
			opacity: 1;
		}
	}

	.container-login-page {
		overflow: auto;
	}
}

.banner-img {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease-in;
  top: 0px;
  left: 0;
  opacity: 0;
  img {
    top: 0px;
    transition: all 0.6s ease-in;
    position: relative;
    width: 182px;
    display: block;
    margin: auto;
    z-index: 2;
  }
}

.transition-start {
  .banner-img-daftar {
    opacity: 1;
    &:after {
      height: 100%;
    }
    img {
      top: 20px;
    }
  }
}

.banner-img-daftar {
  height: 70%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease-in;
  top: 0px;
  left: 0;
  opacity: 0;
  &:after {
    // background: transparent linear-gradient(180deg, #E6F8FF 0%, #CEF2FF 100%) 0% 0% no-repeat padding-box;
    border-bottom-left-radius: 100% 120px;
    border-bottom-right-radius: 100% 120px;
    content: '';
    height: 80%;
    width: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
  }
  img {
    top: -40px;
    transition: all 0.6s ease-in;
    position: relative;
    width: 182px;
    display: block;
    margin: auto;
    z-index: 2;
  }
	&--imageadd {
		background-image: url('https://api-dash.olsera.co.id/img/promotion/login_promotion.png');
		background-repeat: round;
		height: 100%;
	}
}

.banner-text {
	width: 100%;
	height: 100%;
	// display: flex;
	position: relative;
  img {
		position: absolute;
		opacity: 0.3;
		bottom: -40px;
		left: 0;
		right: 0;
		margin: auto;
    display: block;
    margin: auto;
		width: 100%;
		transition: all 1s ease-out;
  }
}

.container-login-page {
  max-width: 1020px;
  width: 100%;
  height: 580px;
  overflow: hidden;
  border-radius: 16px;
	box-shadow: 16px 16px 24px rgba(0, 0, 0, 0.04), -16px -16px 24px rgba(255, 255, 255, 0.7);
	border: 1px solid #FFFFFF;
	display: flex;
	margin: auto;
	position: relative;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.belum-terdaftar {
  font-size: 12px;
  text-align: center;
  position: relative;
  z-index: 2;
  span {
    background: #fff;
  }
  &:after {
    height: 1px;
    position: absolute;
    background: #ccc;
    width: 100%;
    left: 0;
    bottom: 7px;
    display: block;
    content: '';
    z-index: -1;
  }
}

.dialog-bantuan {
  h3 {
    font-size: 14px;
  }
}

.grey-box {
  background: #f9f9f9;
}

.store-selection-page {
	background: #FAFAFA 0% 0% no-repeat padding-box;
	height: 100vh;
	padding-top: 80px;
}

.store-selection-before-dashboard {
	max-width: 480px;
	width: 100%;
	margin: 20px auto;
	border-radius: 8px;
	border: 1px solid #ddd;
	position: relative;
	padding: 20px;
	background: #fff;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	z-index: 2;
	overflow: hidden;
	h1 {
		margin-top: 0;
		font-size: 24px;
	}
	&:after {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F1FBFF 100%) 0% 0% no-repeat padding-box;
    border-bottom-left-radius: 100% 120px;
    border-bottom-right-radius: 100% 120px;
    content: '';
    height: 80%;
    width: 100%;
    position: absolute;
    display: block;
    z-index: -1;
		top: 0;
		left: 0;
  }
}

.pointer {
	cursor: pointer;
}

.item-warning {
	color: blueviolet;
}

.item-danger {
	color: red;
}

.signup-mode {
  .container-login-page {
    max-width: 1020px;
  }

  .login-form {
		overflow: auto;
		padding-bottom: 24px;
		background: #fff;
	}

	// .login-form::-webkit-scrollbar {
  //   display: none;
	// }

  .field.vue-input-ui.has-value .field-input {
		position: relative;
		padding: 0 8px 0 8px;
	}

  .field.vue-input-ui .field-input {
    height: 46px !important;
    min-height: 32px !important;
    position: relative !important;
    // padding-top: 0 !important;
    // top: 2px !important;
    // right: -2px !important;
		border-left: none;
		right: -2px;
		padding: 0 8px 0 8px;
		border-radius: 0;
		border-color: $colorBorderInputDialog !important;
  }

  .country-selector {
    .field-input {
      height: 46px !important;
      min-height: 32px !important;
			padding-right: 0 !important;
			border-radius: 0 !important;
			border-color: $colorBorderInputDialog !important;
    }

    &.has-value {
      .field-input {
        padding-top: 0 !important;
      }
    }

    .country-selector-arrow {
      display: none;
    }
  }

  .vue-phone-number-input {
    .select-country-container {
      min-width: auto;
      max-width: auto;
      flex: 0 0 80px;
    }
  }
}

.banner-img {
  svg {
		top: -40px;
		opacity: 0;
    transition: all 1s ease-out;
    position: relative;
    width: 182px;
    display: block;
    margin: auto;
    z-index: 2;
    font-size: 120px;
    color: #409EFF;
  }
}

.banner-img-daftar {
  svg {
    top: -40px;
    transition: all 0.6s ease-in;
    position: relative;
    width: 182px;
    display: block;
    margin: auto;
    z-index: 2;
    font-size: 120px;
    color: #409EFF;
  }
}

.transition-start {
  svg {
    top: 120px;
  }
}

.input-phone-number {
  label[for="VuePhoneNumberInput_phone_number"] {
    display: none !important;
  }
}

.tos {
  line-height: 1.3em;
  font-size: 14px;
  color: #000;
}

.grey-box {
  // background: #F5F5F5;
  padding: 12px;
}

.select-outlets {
	display: inline-block;
}

.select-outlets--popper {
	max-height: calc(100vh - 80px);
	overflow: auto;
	li {
		background: $colorGreySoft;
		padding: 0px !important;
	}
	// li:first-child {
	// 	background: $colorPrimarySoft;
	// }
	// li:nth-child(2n + 1) {
	// 	background: #fff;
	// }
}

.el-dropdown-menu .el-dropdown-menu__item:nth-child(even) {
	background-color: $colorGreySoft;
}

.flex-container {
	display: flex;
	align-items: center;
	// position: relative;
	.el-avatar,
	.el-image {
		flex-shrink: 0;
	}
}

.search-nav {
	width: 90%;
	margin: 0 auto 20px;
	.el-input__inner::placeholder,
	.el-input__inner::-webkit-input-placeholder,
	.el-input__inner:-ms-input-placeholder {
		font-weight: bold !important;
    color: #222 !important;
	}
  .el-input__inner {
		border: 0px !important;
		border-radius: 16px !important;
		background: #F5F5F5;
  }
}

.el-tooltip {
	&.item {
		line-height: 27px;
		color: #000;
	}
}

.dialog-expired {
	h3 {
			font-size: 14px;
	}
	width: 100%;
	height: 100%;
	z-index: 5201;
	position: absolute;
	padding: 50px;
	background: #000000;
	opacity: 0.55;
	border-radius: 16px 0px 0px 16px;
}

.dialog-expired-insert {
	width: 100%;
	height: 100%;
	z-index: 5201;
	position: absolute;
	padding: 20px;
	background: #FFFFFF;
	border-radius: 16px;
	.button {
		border-color: #FFFFFF;
		position: absolute;
		right: 5px;
		top: 5px
	}
}

.span-otp-error {
	text-align: left;
	font-size: 12px;
	letter-spacing: 0;
	color: #F44336;
	opacity: 1;
}

/**
 * TAB SUB PAGE
 */
.nav-tabs-shop-devin {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow-x: auto;
	overflow-y: hidden;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
	li {
		float: none;
		list-style: none;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		flex: 1 1 0px;
		a {
			min-width: 128px;
			font-size: 14px;
			display: block;
			text-align: center;
			padding: 13px 16px;
			position: relative;
			font-weight: bold;
			color: #272727;
			white-space: nowrap;
			background: #fff;
			&.active {
				background: #DDF2FA;
				color: #0085CD;
				&:focus,
				&:hover {
					color: #0085CD;
					background: #DDF2FA;
					&:after {
						background: #DDF2FA;
					}
				}
			}
			&:after {
				content: '';
				height: 2px;
				width: 100%;
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				background: transparent;
			}
			&:hover,
			&:focus {
				color: #0085CD;
				background: #fff;
				&:after {
					background: #DDF2FA;
				}
			}
		}
	}
}

.header-detail {
	h4 {
		font-weight: bold;
	}
}

.dd-handle {
	.el-icon-edit-outline {
		font-size: 20px;
	}
	&.disabled {
		opacity: 0.5;
	}
}

.sortable-ghost {
  border: 1px solid #ccc;
  background: #eee;
}
.grey {
  color: #aaa;
}

.flat-list {
  position: relative;
  padding: 10px;
  .btn-absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.force-square-image {
	width: 40px;
	height: 40px;
}

.font-like-icon {
	border-radius: 50%;
	width: 18px;
	height: 18px;
	line-height: 18px !important;
	display: inline-block;
	background-color: #bfbfbf;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}

.mobile-report-list {
	display: none;
	padding: 5px;
}

.mobile-report-list--trigger {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0;
	z-index: 9;
}

.mobile-report-list--list {
	margin-top: 20px;
	li {
		display: block;
		padding: 8px 12px;
		background: #f5f5f5;
		font-weight: bold;
		&:nth-child(even) {
			background: transparent;
		}
		&.active {
			background: #0085CD;
			color: #fff;
		}
	}
}

.report-page {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	.box-card {
		flex-grow: 2;
		margin-left: 20px;
	}

	.search-sidebar-report-desktop {
		width: 280px;
	}

	.report-list-wrapper {
		flex-basis: 280px;
		min-width: 280px;
		position: sticky;
		top: 120px;
		h4 {
			margin-bottom: 0;
		}
	}
}

.trigger-open-report-list {
	display: none;
}

.hide-report-list {
	.report-list-wrapper {
		display: none;
	}

	.trigger-open-report-list {
		display: inline-block;
	}

	.box-card {
		margin-left: 0;
	}
}

.bg-white {
	background-color: #FFF;
}

.flex-container-same-height {
	display: flex;
}

.dashboard-banner-section {
	background: transparent linear-gradient(180deg, #E6F8FF 0%, #CEF2FF 100%) 0% 0% no-repeat padding-box;
	// flex-basis: 30%;
	// flex-basis: 21.2%;
	// min-width: 120px;
	flex-basis: 220px;
	padding: 20px;
	color: $colorBody;
	font-size: 18px;
	&--income {
		background: transparent linear-gradient(180deg, #F2FFEC 0%, #DFFFD2 100%) 0% 0% no-repeat padding-box;
	}
	&--refund {
		background: transparent linear-gradient(180deg, #FFF2E3 0%, #F6DCBD 100%) 0% 0% no-repeat padding-box;
	}
}

.dashboard-content-section {
	// flex-basis: 70%;
	flex-grow: 1;
	padding: 20px;
}

.date-filter-dashboard {
	background: #F5F5F5;
	box-shadow: 0px 2px 2px #0000001F;
	border-radius: 5px;
	border: none;
}

.btn-save-copy-product {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}

.el-checkbox__label {
	max-width: 100%;
	display: inline-block;
}

.checkbox-right {
	position: relative;
	padding-right: 25px !important;
	.el-checkbox__input {
		position: absolute;
		right: 8px;
		top: 36%;
	}
}

// .product-table-max-height {
// 	height: calc(100vh - 400px);
//   overflow: auto;
// }

// .sales-table-max-height {
// 	height: calc(100vh - 380px);
//   overflow: auto;
// }

.report-page {
	.el-table {
		// height: calc(100vh - 480px);
		overflow: auto;
	}

	.no-summary {
		.el-table {
			// height: calc(100vh - 340px);
			overflow: auto;
		}
	}

	.summary,
	.el-collapse-item {
		.el-table {
			height: unset;
		}
	}
}

.el-table--border::after, .el-table--group::after, .el-table::before {
	display: none;
}

.premium-labeled {
	position: absolute;
	font-size: 10px;
	top: 15px;
	right: 20px;
	padding: 0 8px;
	background: #FFFFFF;
	height: 20px;
	line-height: 20px;
	border: solid 0.5px #0085CD;
	border-radius: 3px;
	color: #0085CD;
}

.bulk-delete {
	font-size: 24px;
	line-height: 1;
	padding: 0 0 0 0;
	position: relative;
	top: 5px;
}

.el-table {
	&.vertical-align-top {
		td {
			vertical-align: top;
		}
	}
	.cell {
		// word-break: keep-all !important;
		overflow: visible !important;
		a {
			font-weight: bold;
		}
	}
}

.no-photo-uploaded {
	text-align: center;
	width: 100%;
	opacity: 0.5;
	background: #eee;
	height: 100%;
	padding: 30px;
}

.el-card.box-info {
	border: 1px solid #ddd !important;
	border-bottom: none !important;
	border-radius: 0 !important;
	min-height: 100px;
	margin-bottom: 0;
	&.is-always-shadow {
		box-shadow: none !important;
	}
	li {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
}

.card-harga-bottom {
	background-color: #ddd;
	border: 1px solid #ddd !important;
	border-radius: 0px;
	padding: 8px;
	margin-bottom: 12px;
	p {
		margin-bottom: 0;
	}
}

input[disabled].v-money {
	background-color: #f5f7fa;
	border-color: #e4e7ed;
	color: #000;
	cursor: not-allowed;
}

.card-bahan {
  margin-bottom: 10px;
	background: #fafafa;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid #ddd;
}

.el-form-item--small .el-form-item__content, .el-form-item--small .el-form-item__label {
	line-height: 1.4;
}

.card-header-p-null {
  .el-card__header {
    padding: 0 0 0 0 !important;
  }
}

.el-tag {
	max-width: 100% !important;
	height: auto !important;
	white-space: normal !important;
}

.el-loading-mask {
  background-color: rgba(#fff, 1);
	z-index: 1000;
}

.tag-in-loop-wrapper {
	margin-top: 8px;
	margin-bottom: 8px;
	.el-tag {
		margin-right: 2px;
		margin-bottom: 2px;
	}
}

.post-loop-item {
	margin-bottom: 24px;
	border-radius: 10px;
	overflow: hidden;
	height: 380px;
	background: #fff;
	position: relative;
	cursor: pointer;
	.excerpt {
		padding: 18px 20px;
		overflow: hidden;
		max-height: 98px;
		.meta {
			position: absolute;
			bottom: 16px;
		}
	}
	.container-thumb {
		position: relative;
		&--post-title {
			background: $colorPrimary;
			color: #fff;
			padding: 8px 14px;
			border-radius: 10px 0px 0px 10px;
			backdrop-filter: blur(30px);
			position: absolute;
			// top: 80px;
			left: 16px;
			right: 0;
			bottom: -25px;
		}
	}
	.feature-image {
		display: block;
		width: 100%;
		position: relative;
		&:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			transition: all 0.3s linear;
		}
	}
	&:hover {
		.feature-image {
			display: block;
			width: 100%;
			img {
				transform: scale(1.2);
				// transform: rotate(5deg);
			}
		}
	}
	&--first {
		border-radius: 10px;
		overflow: hidden;
		height: auto !important;
		.excerpt {
			padding-top: 42px;
			max-height: unset;
		}
		.meta {
			color: #fff !important;
		}
	}
  .feature-image {
		width: 100%;
		overflow: hidden;
		display: block;
    img {
      width: 100%;
    }
	}
	.meta {
		font-size: 12px;
		color: $oldGrey;
	}
}

.title-ellipsis {
	// --max-lines: 3;
	// position: relative;
	// max-height: calc(var(--lh) * var(--max-lines));
	// overflow: hidden;
	// padding-right: 1rem; /* space for ellipsis */
	// &:before {
	// 	position: absolute;
	// 	content: "...";
	// 	bottom: 0;
	// 	right: 0;
	// }
	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	right: 0;
	// 	width: 1rem;
	// 	height: 1rem;
	// 	background: white;
	// }
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.tag-new {
	position: absolute;
	top: 8px;
	right: 8px;
	background: $colorDanger;
	color: #fff;
	font-size: 10px;
	padding: 3px 12px;
	border-radius: 8px;
	z-index: 99;
	font-weight: bold;
}

.close-esc {
	display: flex;
	align-items: center;
	justify-content: flex-end;
  .el-button--text {
		color: $black;
  }
}

.wrapper-content {
	padding: 32px;
	border: 1px solid var(--gray-border-with-shadow);
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 2px #0000001F;
	border: 1px solid #EEEEEE;
	border-radius: 2px;
}

.badge-whatsnew {
	padding: 0 0px 0 20px;
	top: 7px;
	.el-badge__content.is-fixed {
		top: 7px;
	}
}

.custom-dropdown-store {
	background: #fff;
  position: relative;
  &--list {
		border-radius: 8px;
		z-index: 9;
    position: absolute;
    top: 88px;
    display: block;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
}

.package-features-list {
	text-align: left;
	i {
		display: inline-block;
		font-weight: bold;
		min-width: 20px;
		max-width: 20px;
		flex-basis: 20px;
		color: $colorInfo;
	}
}

$offscreenSidebarWidth: 536px;

.offscreen-right-sidebar {
	position: fixed;
	background: #fff;
	padding: 68px 24px 0 24px;
	z-index: 2000;
	top: 0;
	height: 100%;
	right: 0;
	max-width: $offscreenSidebarWidth;
	width: 100%;
	box-shadow: -3px 3px 6px #0000001F;
	overflow: auto;
	&--wrapper {
		position: relative;
	}
	&--footer {
		position: fixed;
		padding: 12px;
		bottom: 0;
		max-width: $offscreenSidebarWidth;
		width: 100%;
		right: 0;
		z-index: 9;
		background-color: #fff;
	}
	&--header {
		position: fixed;
		padding: 12px;
		top: 0;
		max-width: $offscreenSidebarWidth;
		width: 100%;
		right: 0;
		font-size: 20px;
		color: $black;
		font-weight: 600;
		.container-close-esc {
			position: fixed;
			top: 0;
			right: 8px;
		}
	}
	&--header-second {
		position: fixed;
		// padding: 12px;
		max-width: $offscreenSidebarWidth;
		width: 100%;
		right: 0;
		text-align: center;
		font-size: 24px;
		color: $black;
		font-weight: bold;
	}
	&--scrollcontent {
		overflow-y: scroll;
		height: 60vh;
		margin-top: 16px;
	}
	&--header-content {
		min-height: 106px;
		text-align: center;
		.el-image {
			width: 88px;
			height: 88px;
			position: relative;
			top: 60px;
			box-shadow: 0px 2px 2px #0000001F;
			border-radius: 2px;
		}
	}
	&--zindexplus {
		z-index: 2110;
	}
	&--body {
		max-height: 100%;
		// overflow: auto;
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 68px;
	}
}

.el-dialog__header {
	.container-close-esc {
		position: absolute;
		top: 10px;
		right: 10px;
	}
}

.el-dialog__headerbtn .el-dialog__close {
	color: #000;
	font-size: 24px;
}

.el-table__header-wrapper {
	th {
		color: $blackBody;
		font-weight: bold;
	}
}

.el-table__body-wrapper {
	td {
		color: $blackBody;
	}
}

.inner-page-navigation-wrapper {
	// padding-top: 60px;
	position: relative;
	width: 100%;
}

.inner-page-navigation {
	display: flex;
	box-shadow: $boxShadow1;
	margin-bottom: 16px;
	border-radius: 5px;
	background-color: #fff;
	position: sticky;
	top: 120px;
	z-index: 9;
	overflow: auto;
	.el-button {
		padding: 8px 16px;
		border-radius: 0;
		&.active {
			background: $colorPrimary;
			color: #fff;
		}
	}
	&--position-unset {
		position: unset !important;
	}
}

.iframe-content {
	width: 100%;
	// height: 100vh;
}

.headless {
  .el-table__header-wrapper {
    display: none;
  }
}

.section-collapse {
  margin-bottom: 12px;
}

.el-table .warning-row {
	background: #FEE8E6;
}
.el-table .success-row {
	background: #079e07;
}

.bulk-delete {
	svg {
		width: 40px;
		height: 27px;
	}
}

.no-data-wrapper {
	text-align: center;
}

.no-data-image {
	max-width: 320px;
	width: 100%;
	margin: auto;
	height: auto;
}

.single-datepicker {
	display: flex;
	align-items: center;
	color: $colorBody;
	font-weight: bold;
	// border: 1px solid $colorInfo;
	border-radius: 3px;
	.el-button {
		width: 40px;
		padding: 0 0 0 0;
		border: none;
		background: transparent;
	}
	.el-input__inner {
		text-align: center;
		font-weight: bold;
		border: none !important;
		box-shadow: none !important;
		border-radius: 0;
		cursor: pointer !important;
		color: $colorBody;
	}
}

.like-table-wrapper {
	box-shadow: $boxShadow1;
	border-radius: 3px;
	// overflow: hidden;
	min-height: 50px;
	// border: 1px solid $colorInfo;
	&--item {
		display: flex;
		align-items: center;
		padding: 11px 16px;
		background: #fff;
		word-break: keep-all;
		&:nth-child(even) {
			background: #FAFAFA;
		}
		&.active {
			background: $colorPrimarySoft !important;
			color: $colorPrimary;
		}
	}
	&--itemaddon {
		display: flex;
		align-items: center;
		background: #fff;
		&:nth-child(even) {
			background: #FAFAFA;
		}
		&.active {
			background: $colorPrimarySoft !important;
			color: $colorPrimary;
		}
	}
	&--item-border-bottom {
		// min-height: 40px !important;
		display: flex;
		align-items: center;
		padding: 4px 16px;
		background: #fff;
		word-break: keep-all;
		&:nth-last-child(2n) {
			// background: #FAFAFA;
			border-top: 1px solid $colorGreyBorder;
			border-bottom: 1px solid $colorGreyBorder;
		}
		&:first-child {
			// background: #FAFAFA;
			border-top: none;
			// border-bottom: 1px solid $colorGreyBorder;
		}
		&.active {
			background: $colorPrimarySoft !important;
			color: $colorPrimary;
		}
	}
}

// .el-dialog__body {
// 	.el-input__inner,
// 	.el-radio-group {
// 		box-shadow: none;
// 		// border-color: $colorBorderInputDialog;
// 		border-radius: 0;
// 	}
// }

.el-radio-group {
	overflow: hidden;
}

.el-radio-button__inner {
	font-weight: bold;
	color: $colorBody;
	border: none !important;
	border-radius: 0 !important;
}

.el-radio-button {
	margin-bottom: 0;
}

.el-date-editor {
	.el-input__inner {
		cursor: pointer !important;
	}
}

.new-avatar-uploader {
	display: inline-block;
	&--inner {
		display: flex;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		border: 1px solid $colorInfo;
		background: $colorInfo;
		box-shadow: $boxShadow1;
		align-items: center;
		justify-content: center;
		position: relative;
		.el-avatar {
			width: 100%;
			height: 100%;;
		}
	}
}

.el-message-box {
	.el-button + .el-button {
		margin-left: 8px !important;
	}
}

.wrapper-webview-downloading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 12px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
}

.dropdown-notification {
	max-height: 300px;
	overflow: auto;
	width: 100%;
	max-width: 480px;
}

.avatar-empty {
	height: 120px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.whatsnew-dashboard {
	width: 40%;
	min-height: 340px;
}

.wrapper-whatsnew-header {
	position: relative;
	margin-top: 40px;
}
.whatsnew-header-background {
	background-color: #6FCFEE;
	content: '';
	position: absolute;
	left: -40px;
	right: -40px;
	top: -40px;
	height: 200px;
	display: block;
	border-radius: 10px;
}
.whatsnew-header {
	display: flex;
	margin-bottom: 22px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	box-shadow: 0px 6px 12px #0000001F;
	&:hover {
		.el-image img {
			transform: scale(1.2);
		}
	}
	&__thumbnail {
		line-height: 1;
		position: relative;
		flex-basis: 350px;
		min-width: 350px;
		&:after {
			content: '';
			display: block;
			padding-bottom: 100%;
		}
		.el-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			bottom: 0;
			right: 0;
			img {
				transition: all 0.3s linear;
			}
		}
	}
	&__excerpt {
		padding: 24px 40px;
		background-color: #fff;
		line-height: 1.4;
		color: #272727;
		position: relative;
	}
	&__excerpt-title {
		font-size: 32px;
		font-weight: 800;
		margin-bottom: 8px;
		line-height: 1.2;
	}
	&__excerpt-meta {
		margin-bottom: 24px;
		font-size: 12px;
	}
	&__excerpt-excerpt {
		font-size: 20px;
	}
	&__excerpt-readmore {
		font-size: 16px;
		font-weight: bold;
		padding: 9px 16px;
		background-color: #f5f5f5;
		margin-top: 24px;
	}
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.2em;
  /* vertical-align: middle; */
  fill: currentColor;
  overflow: hidden;
}
.submenu-disabled {
	// pointer-events: none;
	a {
		color: rgba(#272727, 0.5) !important;
		cursor: not-allowed;
		// pointer-events: none;
 	}
}

.sidebarmenu-disabled {
	// cursor: not-allowed !important;
	// pointer-events: none !important;
	opacity: 0.3;
	display: block;
	li.olsera-menu-item {
		// opacity: 0.6;
		// cursor: not-allowed !important;
		// pointer-events: none !important;
		display: flex;
		padding-right: 16px;
		span {
			flex-grow: 1;
		}
	}
}
// .el-submenu {

// }
.celltable-disabled {
	cursor: not-allowed;
	pointer-events: none;
	// position: relative;
	opacity: 0.5;
	// &:after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	background-color: rgba(#000, 0.2);
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// }
	* {
		cursor: not-allowed;
		pointer-events: none;
	}
}

.dummy-page {
	.content,
	.content-accounting,
	.content.sales-list {
		min-height: 100vh;
		height: auto;
		position: relative;
		// pointer-events: none;
		&:before {
			content: '';
			display: block;
			background: transparent linear-gradient(180deg, #FFFFFF59 0%, #FFFFFFBF 32%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 6;
		}
	}
}

.el-avatar > img {
	width: 100%;
}

@media screen and (max-width: 980px) {
	.whatsnew-header {
		display: block;
		&__excerpt {
			padding: 18px 20px;
		}
	}
	.post-loop-item {
		height: auto;
		.excerpt {
			max-height: unset;
			.meta {
				position: static;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.container-login-page {
    height: 100vh;
    display: block;
  }
  .login-banner,
  .login-form {
		width: 100%;
		padding: 15px 15px 15px;
		height: auto;
	}
	.container-close-esc {
		display: none !important;
	}
}

@media screen and (max-width: 1023px) {
	.whatsnew-dashboard {
		width: 100%;
		height: 420px;
		&.ml-8 {
			margin-left: 0 !important;
		}
	}
}
