.table-custom-permission {
  .cell {
    .el-checkbox__inner {
      width: 20px;
      height: 20px;
      &:after {
        height: 12px;
        left: 5px;
        top: 1px;
        width: 6px;
      }
    }
  }
}